*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    color: #000;
    background-color:hsl(192, 50%, 96%);
}

.header{
    display: flex;
    justify-content:space-between;
    align-items:center;
    font-size: 32px;
    margin: 20px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.header h1{
    margin-left: 20px;
}

.header a{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.content{
    width: 60%;
    margin: auto;
    font-size: 24px;
}

.hero-image{
    display: block;
    width: 50%;
    margin: auto;
    height: auto;
}

h2{
    font-size: 32px;
}

li{
    font-size: 24px;
}

.info{
    margin: 40px auto;
    text-align: center;
}
.info h2{
    text-decoration: underline;
    margin-bottom: 10px;
}

.section{
    width: 80%;
    border: 2px solid #000;
    margin: 24px auto;
    background-color: beige;
}

.section h2{
    text-decoration: underline;
    text-align: center;
}

.section ul, .section ol{
    margin: 20px;
    padding-left: 20px;
}