*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Times New Roman', Times, serif;
    color: #000;
    background-color:hsl(192, 50%, 96%);
}

.header{
    font-size: 64px;
    text-align: center;
    margin: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.recipe-list{
    border: 2px solid #000;
    list-style-type: none;
    width: 50%;
    margin: 20px auto;
    padding: 0;
}

.recipe-list li{
    margin: 24px;
    padding: 16px;
    text-align: center;
}

.recipe-list li a{
    color: black;
    font-weight: bold;
    font-size: 24px;
}